<div id="content">
  <h3 class="field-title mb-3">Details du survey
    <a class="btn btn-outline-secondary" routerLink="/dashboard"
       style="position: absolute; right: 0">Revenir au Tableau de bord</a>
  </h3>

  <div *ngIf="survey!==undefined">

    <h3 class="field-title" style="text-align: center; text-decoration: none;">{{ survey.surveyName }}</h3>
    <hr>

    <div class="analysis-control-bar">
      <button class="btn btn-outline-success export-btn">Exporter en Excel</button>
    </div>
    <div *ngIf="questions.length!==0">
      <ng-container *ngFor="let q of questions; let i=index;">
        <table class="analysis-table" *ngIf="q.surveyQuestionStatus === 'active'">
          <thead>
            <tr>
              <td colspan="2">{{ q.surveyQuestionContent }}</td>
            </tr>
          </thead>

          <tbody *ngIf="q.surveyQuestionFieldType!=='input'">
            <tr  *ngFor="let s of q.suggestions; index as j;">
              <td>{{ s.surveyResponseValue }} {{ q.surveyQuestionFieldType==='switch' ? ' - [ Oui | Non ]': '' }}</td>
              <td>{{ responseCount(i, s.surveyResponseId) }}</td>
            </tr>
          </tbody>

          <ng-container  *ngIf="q.surveyQuestionFieldType==='input'">
            <tbody *ngFor="let s of q.suggestions; index as j;">
              <tr *ngFor="let r of q.responses; index as k;">
                <td rowspan="100" *ngIf="k==0">{{ s.surveyResponseValue}}</td>
                <td>{{ r.surveyResponseDetails }}</td>
              </tr>
            </tbody>
          </ng-container>
        </table>
      </ng-container>
    </div>

    <!--
    <table class="analysis-table" *ngIf="questions.length!==0">

     <thead>
       <tr>
         <td>Questions</td>
         <td>Suggestions</td>
         <td class="count">Nombre de selection</td>
       </tr>
     </thead>

      <tbody *ngFor="let q of questions; let i=index;">
        <tr *ngFor="let s of q.suggestions; index as j;">
          <td rowspan="100" *ngIf="j==0">{{ q.surveyQuestionContent }}</td>
          <td>{{ s.surveyResponseValue }}</td>
          <td class="count">4567</td>
        </tr>
      </tbody>

          <tbody>

            <tr>
              <td rowspan="4">Question 1</td>
              <td>Suggestion 1</td>
              <td class="count">4567</td>
            </tr>

            <tr>
              <td>Suggestion 2</td>
              <td class="count">4567</td>
            </tr>

            <tr>
              <td>Suggestion 3</td>
              <td class="count">4567</td>
            </tr>

      </tbody>
    </table>
-->
    <div class="empty-bloc" *ngIf="questions.length===0">
      Aucun contenu trouvé
    </div>

  </div>

  <h3 class="field-title" style="text-align: center; text-decoration: none;" *ngIf="survey===undefined">Survey non trouvé</h3>
</div>
