<div id="content" class="container">

  <div id="content-side">
    <div style="height: 45px; line-height: 35px; margin-bottom: 10px; color: #939393; border-bottom: 1px solid #5fa9e8">Questions du survey :
      <a href="#" class="btn btn-outline-primary" routerLink="/dashboard" style="float: right; font-size: 0.9rem;">Tableau de bord</a></div>
    <div *ngIf="isEmptyQuestionList" class="empty-item">Aucun item</div>
    <div *ngFor="let question of questionsList" class="question-item" [ngClass]="{'active' : questionId==question.surveyQuestionId}">
      <a href="#" (click)="onEditeQuestionItem(question.surveyQuestionId)"
         routerLink="/survey/{{ surveyId }}/question/edit/{{question.surveyQuestionId}}">
        <span class="subject">{{ question.surveyQuestionSubject ? question.surveyQuestionSubject + ' :' : 'Question : ' }}</span>
        <br> <span class="question">{{ question.surveyQuestionContent }}</span>
      </a>
    </div>
  </div>

  <div id="content-primary">

    <h3 class="field-title mb-3">
      {{ survey!=undefined ? survey.surveyName : 'Survey' }}
      <a *ngIf="!isEmptyQuestionList" href="#"
         routerLink="/survey/{{ surveyId }}/preview/default/{{ previewToken }}/{{ previewClient && previewClient.user && previewClient.user.country!=null ? previewClient.user.country : 'ci' }}/lang/{{ previewClient && previewClient.user && previewClient.user.language!=null ? previewClient.user.language : 'fr' }}"
         class="btn btn-outline-warning" style="position: absolute; right: 0; width: 120px; margin-left: 20px">Aperçu</a>
    </h3>
    <p class="text-muted" style="border-bottom: 1px solid #d5d5d5; margin-bottom: 20px; margin-top: -10px">
      {{ survey?.surveySubject ? survey?.surveySubject : '' }}</p>

    <div class="survey-option mb-4">
      <button class="btn btn-outline-primary" [ngClass]="{'active': option=='question' && action=='new' }" (click)="onCreateQuestion(surveyId)">Ajouter une question</button>
      <button class="btn btn-outline-primary" [ngClass]="{'active': option=='address' }" (click)="onClicUploadAdsress(surveyId)">Adresses</button>
      <button class="btn btn-outline-success" [ngClass]="{'active': option=='publish' }" (click)="onClicPublishSurvey(surveyId)">Publier</button>
      <button class="btn btn-outline-primary" [ngClass]="{'active': option=='edit' }" (click)="onEditSurvey(surveyId)">Modifier</button>
      <button class="btn btn-outline-danger" (click)="onDeleteSurvey(surveyId)">Supprimer</button>
      <a href="#" class="btn btn-outline-secondary" routerLink="/survey/manager" style="float: right; margin-right: 0;">Quitter</a>
    </div>

    <div [hidden]="selfSurveyManager">

      <h3 [hidden]="isQuestionSelected" class="field-title mb-4">{{ fieldTitle!=undefined ? fieldTitle : 'Ajouter une question' }}
        <a *ngIf="!isEmptyQuestionList && isQuestionSelected" href="#" routerLink="/survey/{{ surveyId }}/address"
           class="btn btn-outline-primary">Terminé</a>
      </h3>

      <form (ngSubmit)="onQuestionSubmit(q)" #q="ngForm">

        <div class="radio-group" [hidden]="isQuestionSelected">

          <div class="form-check">
            <input [disabled]="isQuestionSelected" class="form-check-input" name="questionType" type="radio"
                   id="flexRadioDefault1" value="radio" [ngModel]="true" required>
            <label class="form-check-label" for="flexRadioDefault1">
              <span class="field-radiobox"></span>Case à sélection unique</label>
          </div>

          <div class="form-check">
            <input [disabled]="isQuestionSelected" class="form-check-input" name="questionType" type="radio"
                   id="flexRadioDefault2" value="checkbox" ngModel required>
            <label class="form-check-label" for="flexRadioDefault2">
              <span class="field-checkbox"></span>Case à sélection multiple</label>
          </div>

          <div class="form-check">
            <input [disabled]="isQuestionSelected" class="form-check-input" name="questionType" type="radio"
                   id="flexRadioDefault5" value="switch" ngModel required>
            <label class="form-check-label">
              <div class="form-switch"> <input class="form-check-input">
                <label for="flexRadioDefault5">Case à switcher ( Non / Oui )</label>
              </div>
            </label>
          </div>

          <div class="form-check">
            <input [disabled]="isQuestionSelected" class="form-check-input" name="questionType" type="radio"
                   id="flexRadioDefault3" value="input" ngModel required>
            <label class="form-check-label" for="flexRadioDefault3">
              <span class="field-text"></span>Champs d'entrer de texte</label>
          </div>

          <!--
          <div class="form-check">
            <input class="form-check-input" name="questionType" type="radio"
                   id="flexRadioDefault4" value="select" ngModel required>
            <label class="form-check-label" for="flexRadioDefault4">
              <span class="field-text field-select"></span>Champs de selection</label>
          </div>
          -->

        </div>

        <div class="preview-bloc">
          <div class="empty-item" [hidden]="!isEmptyQuestionField">Aucun aperçu</div>

          <div [hidden]="isEmptyQuestionField" class="preview-question" style="position: relative">
            <span class="text-muted" style="display: inline-block; margin-top: 2px; margin-bottom: 5px">
              {{ this.selectedQuestion?.surveyQuestionSubject ?
              this.selectedQuestion?.surveyQuestionSubject : 'Question :' }}
            </span>
            <br> <strong>{{ previewText }}</strong>

            <div style="position: absolute; right: 0px; top: 2px" [hidden]="suggestedResponse && suggestedResponse.length!=0">
              <div class="form-check" style="padding-left: 0;" *ngIf="this.selectedQuestion?.surveyQuestionFieldType=='radio'">
                <label class="form-check-label"><span class="field-radiobox"></span>Case à sélection unique</label>
              </div>

              <div class="form-check" style="padding-left: 0;" *ngIf="this.selectedQuestion?.surveyQuestionFieldType=='checkbox'">
                <label class="form-check-label"><span class="field-checkbox"></span>Case à sélection multiple</label>
              </div>

              <div class="form-check" style="padding-left: 0;" *ngIf="this.selectedQuestion?.surveyQuestionFieldType=='switch'">
                <label class="form-check-label"><div class="form-switch"><input class="form-check-input">
                    <label>Case à switcher ( Non / Oui )</label></div></label>
              </div>

              <div class="form-check" style="padding-left: 0;" *ngIf="this.selectedQuestion?.surveyQuestionFieldType=='input'">
                <label class="form-check-label"><span class="field-text"></span>Champs d'entrer de texte</label>
              </div>
            </div>
          </div>

          <hr [hidden]="!isQuestionSelected">

          <div [hidden]="!isQuestionSelected || suggestedResponse.length!=0"
               style="text-align: center; padding-bottom: 20px; color: #b3b3b3">Aucune suggestion !</div>

          <div [hidden]="!isQuestionSelected" class="preview-response"
               *ngFor="let suggestion of suggestedResponse; let i=index;">

            <div class="form-check" *ngIf="selectedQuestion.surveyQuestionFieldType=='radio'">
              <input class="form-check-input" type="radio" name="radioResponse" id="radioResponse{{i}}">
              <label class="form-check-label" for="radioResponse{{i}}">{{ suggestion.surveyResponseValue }}</label>
            </div>

            <div class="form-check" *ngIf="selectedQuestion.surveyQuestionFieldType=='checkbox'">
              <input class="form-check-input" type="checkbox" name="checkboxResponse{{i}}" id="checkboxResponse{{i}}">
              <label class="form-check-label" for="checkboxResponse{{i}}">{{ suggestion.surveyResponseValue }}</label>
            </div>

            <div class="form-floating mb-3" *ngIf="selectedQuestion.surveyQuestionFieldType=='input'">
              <input type="text" class="form-control" name="inputResponse{{i}}" id="inputResponse{{i}}"
                     placeholder="{{ suggestion.surveyResponseValue }}">
              <label for="inputResponse{{i}}">{{ suggestion.surveyResponseValue }}</label>
            </div>

            <div class="form-check form-switch" *ngIf="selectedQuestion.surveyQuestionFieldType=='switch'">
              <input class="form-check-input" type="checkbox" role="switch" name="switchResponse{{i}}" id="switchResponse{{i}}">
              <label for="switchResponse{{i}}">{{ '[ Non | Oui ] - ' + suggestion.surveyResponseValue }}</label>
            </div>

          </div>

        </div>

        <div class="fields-group" [hidden]="isQuestionSelected">

          <div class="form-floating mb-2">
            <input type="text" name="question" class="form-control" id="question" placeholder="Entrez votre texte"
                   ngModel (input)="fields()" required>
            <label for="question">Question de survey</label>
          </div>

          <div class="form-floating mb-2">
            <input type="hidden" name="survey" ngModel="{{ surveyId }}" required>
            <input type="text" name="surveysubject" class="form-control" id="surveysubject"
                   placeholder="Entrez votre texte" ngModel>
            <label for="surveysubject">Objet de la question (facultatif)</label>
          </div>

          <button type="submit" class="btn btn-primary"
                  [disabled]="q.invalid" style="float: right;font-size: 0.9rem;">Enregistrer</button>
        </div>
      </form>

      <h3 [hidden]="!isQuestionSelected" class="field-title mt-5 mb-4">Ajouter une suggestion
        <a *ngIf="!isEmptyQuestionList && isQuestionSelected" href="#" routerLink="/survey/{{ surveyId }}/address"
           class="btn btn-outline-primary">Terminé</a>
      </h3>

      <form [hidden]="!isQuestionSelected" (ngSubmit)="onResponseSubmit(r)"  #r="ngForm">
        <input type="hidden" name="selectedquestion" class="form-control" ngModel="{{ selectedQuestion.surveyQuestionId }}" required>
        <div class="fields-group">
          <div class="form-floating mb-2">
            <input type="text" name="responsesuggestion" class="form-control" id="responsesuggestion"
                   placeholder="Entrez votre texte" ngModel required>
            <label for="responsesuggestion">Suggestion de reponse</label>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="r.invalid" style="float: right">+ Ajouter</button>
        </div>
      </form>

      <button *ngIf="!isEmptyQuestionList && isQuestionSelected"
            class="btn btn-outline-danger" (click)="onQuestionDelete()">Supprimer</button>

    </div>

    <div class="survey-update-bloc" [hidden]="!onUpdateSurvey">

      <form (ngSubmit)="onSurveyUpdateSubmit(s)" #s="ngForm">

        <div class="form-floating mb-3">
          <input type="text" name="surveyname" class="form-control" placeholder="Nom du survey"
                 [ngModel]="survey ? survey.surveyName : ''" required>
          <label>Nom du survey</label>
        </div>

        <div class="fields-group">
          <div class="form-floating mb-3">
            <input type="text" name="surveysubject" class="form-control" placeholder="Entrez votre texte"
                   [ngModel]="survey ? survey.surveySubject : ''">
            <label>Objet du survey (facultatif)</label>
          </div>
        </div>

        <div class="fields-group">
          <div class="form-floating mb-3">
            <textarea type="text" name="surveydescrib" class="form-control" style="height: 100px"
                      placeholder="Description du survey (facultatif)"
                      [ngModel]="survey ? survey.surveyDescrib : ''"></textarea>
            <label>Description du survey (facultatif)</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary survey-add" [disabled]="s.invalid"
                style="float: right; width: 120px; font-size: 0.9rem;">Enregistrer</button>
      </form>

    </div>

    <div class="survey-publish-bloc" [hidden]="!onPublishSurvey">

      <h3 class="field-title mb-4">Publier le survey</h3>

      <div class="message-fields">
        <!-- <div class="empty-item">Aucun aperçu</div> -->

        <p class="mb-4">NB: Ce message comportera un lien personnalisé du survey
          correspondant à chaque utilisateur de la liste de contact.</p>

        <!--
        <p style="overflow: auto; margin-bottom: 40px">Apperçu de liens généré par utilisateur: <br>
          <a href="#" routerLink="/survey/{{ surveyId }}/preview/default/{{ previewToken }}/{{ user && user.client && user.client.clientCountry!=null ? user.client.clientCountry : 'ci' }}/lang/{{ user && user.client && user.client.clientLanguage!=null ? user.client.clientLanguage : 'fr' }}">
            {{ baseUrl }}/survey/{{ surveyId }}/preview/default/{{ previewToken }}/{{ user && user.client && user.client.clientCountry!=null ? user.client.clientCountry : 'ci' }}/lang/{{ user && user.client && user.client.clientLanguage!=null ? user.client.clientLanguage : 'fr' }}"
          </a></p>
        -->

        <form (ngSubmit)="onPublishClientMessage(p)" #p="ngForm">
          <div class="form-floating mb-2">
            <input type="text" name="subject" class="form-control" id="subject" placeholder="Entrez votre texte"
                   ngModel required>
            <label for="subject">Objet</label>
          </div>

          <div class="form-floating mb-2">
            <textarea class="form-control" name="message" style="height: 90px"
                      placeholder="Entrez votre texte" id="message" [(ngModel)]="writingMsg" required></textarea>
            <label for="message">Message</label>
          </div>

          <button type="button" class="btn btn-outline-info" style="font-size: 0.9rem;" (click)="insertLink(p)">Inserer le lien</button>
          ( short url: <span style="color: #0082bb">{{ 'wpk.com/__ID__' }}</span> )

          <span *ngIf="survey?.surveyStatus!='published'">
            <input type="number" class="form-control" name="length" min="3" max="40" ngModel="5" required
                   style="display: inline-block; width: 68px; margin-left: 20px; margin-right: 10px" id="idlength">
            <label for="idlength">(Nombre caratères ID)</label>
          </span>

          <button type="submit" class="btn btn-primary" [disabled]="p.invalid" style="width:120px; float: right; font-size: 0.9rem;">
            {{ survey?.surveyStatus=='published' ? 'Renvoyer' : 'Publier' }}
          </button>
        </form>

      </div>

      <hr>

      <div class="address-list">

        <div *ngIf="clientList.length==0 && clientSurveyList.length==0" class="empty-item">Aucun item</div>

        <div class="address-items" *ngIf="clientList.length!=0">

          <h6>List des destinataires: </h6>

          <table>
            <thead>
            <tr>
              <td>Mobile</td>
              <td>Lien complet</td>
            </tr>
            </thead>

            <tbody *ngFor="let account of clientSurveyList; let i=index;">

            <tr>
              <td>{{ clientList[i] && clientList[i].user?.phone }}</td>
              <td><a href="#" routerLink="/survey/{{ surveyId }}/own/default/{{ account.tokenCode }}/{{ clientList[i] && clientList[i].user?.country ? clientList[i].user?.country : 'ci' }}/lang/{{ clientList[i] && clientList[i].user?.language ? clientList[i].user?.language : 'fr' }}">
                https://{{baseUrl}}/survey/{{ surveyId }}/own/default/{{ account.tokenCode }}
                /{{ clientList[i] && clientList[i].user?.country ? clientList[i].user?.country : 'ci' }}
                /lang/{{ clientList[i] && clientList[i].user?.language ? clientList[i].user?.language : 'fr' }}"
              </a></td>
            </tr>

            </tbody>
          </table>
          <!-- <button class="btn btn-outline-success" (click)="onClicPublishSurvey(surveyId)" style="float: right">Générer les liens</button> -->
        </div>

      </div>

    </div>

    <div class="address-upload-bloc" [hidden]="!onUploadAdsress">

      <h3 class="field-title mb-5">Gestion des adresses</h3>

      <div class="upload-fields">
        <input type="file" id="input" (change)="excelReader($event)"/>
      </div>

      <hr>

      <div class="address-list">

        <div *ngIf="allClient.length==0 && clientRecord.length==0" class="empty-item">Aucun item</div>

        <div class="address-items" *ngIf="!uploaded && clientRecord.length!=0">
          <h6>Importation:</h6>

          <form (ngSubmit)="onSubmitUploadAddressList(uploadForm)" #uploadForm="ngForm">

            <table>
              <thead>
              <tr>
                <td></td>
                <td>N°</td>
                <td>Nom</td>
                <td>Mobile</td>
                <td>E-mail</td>
                <td>Pays</td>
                <td>Code</td>
                <td>Vile</td>
                <td>Adresse</td>
                <td>Lang</td>
              </tr>
              </thead>

              <tbody *ngFor="let client of clientRecord; let i=index;">
              <tr>
                <td><input type="checkbox" name="{{ i }}" id="{{ i }}" [ngModel]="true"></td>
                <td style="text-align: center"><label for="{{ i }}">{{ i + 1 }}</label></td>
                <td><label for="{{ i }}">{{ client.name }}</label></td>
                <td><label for="{{ i }}">{{ client.mobile }}</label></td>
                <td><label for="{{ i }}">{{ client.email }}</label></td>
                <td style="text-align: center"><label for="{{ i }}">{{ client.country }}</label></td>
                <td style="text-align: center"><label for="{{ i }}">{{ client.countryCode }}</label></td>
                <td><label for="{{ i }}">{{ client.city }}</label></td>
                <td><label for="{{ i }}">{{ client.address }}</label></td>
                <td style="text-align: center"><label for="{{ i }}">{{ client.language }}</label></td>
              </tr>
              </tbody>
            </table>

            <div class="save-bar">
              <button class="btn btn-outline-primary" type="submit" style="float: right; font-size: 0.9rem;">Charger la liste</button>
            </div>

            <!--  (click)="onUploadAddressList()" -->
          </form>
        </div>

        <div class="address-items" *ngIf="allClient.length!=0">

          <h6>List des destinataires: </h6>

          <form (ngSubmit)="onSubmitGenerateClientLink(linkForm)" #linkForm=ngForm>

            <table>
              <thead>
              <tr>
                <td></td>
                <td>N°</td>
                <td>Nom</td>
                <td>Mobile</td>
                <td>E-mail</td>
                <td>Pays</td>
                <td>Code</td>
                <td>Vile</td>
                <td>Adresse</td>
                <td>Lang</td>
              </tr>
              </thead>

              <tbody *ngFor="let client of allClient; let i=index;">

              <tr>
                <td style="padding-right: 10px">
                    <input type="checkbox" name="{{ i }}" id="{{ client.clientId }}" [ngModel]="true">
                </td>
                <td style="text-align: center"><label for="{{ client.clientId }}">{{ i + 1 }}</label></td>
                <td><label for="{{ client.clientId }}">{{ client.user?.name }}</label></td>
                <td><label for="{{ client.clientId }}">{{ client.user?.phone }}</label></td>
                <td><label for="{{ client.clientId }}">{{ client.user?.email }}</label></td>
                <td style="text-align: center"><label for="{{ client.clientId }}">{{ client.user?.country }}</label></td>
                <td style="text-align: center"><label for="{{ client.clientId }}">{{ client.user?.countryCode }}</label></td>
                <td><label for="{{ client.clientId }}">{{ client.user?.city }}</label></td>
                <td><label for="{{ client.clientId }}">{{ client.user?.address }}</label></td>
                <td style="text-align: center"><label for="{{ client.clientId }}">{{ client.user?.language }}</label></td>
              </tr>
              </tbody>
            </table>

            <p style="text-align: justify; border: 1px solid #f0f0f0; padding: 10px; ">
              <strong>NB:</strong> Un token sera généré pour chaque destinataire.
              <span>Vous pouvez à cet effet définir un délais de validité des tokens de cette liste.</span>
            </p>

            <div class="save-bar">
              <!--<form #token_date="ngForm">-->
              <label for="to">Expiration du Token :</label>
              <input type="date" name="to" class="form-control field-date" (change)="pickupDate(linkForm)"
                     placeholder="Expiration token" id="to" ngModel="{{ today | date: 'yyyy-MM-dd' }}" required ngModel>
              <span for="to" style="color: #5fa9e8">{{ expirationToken!=7 ? expirationToken + (expirationToken && expirationToken > 1 ? ' jours':' jour')  : '7 jours (par defaut)' }}</span>
              <!-- <button class="btn btn-outline-success" (click)="onGenerateClientLink(surveyId)" style="float: right">Générer les liens</button> -->
              <!--</form>-->
              <button class="btn btn-outline-success" type="submit" style="float: right; font-size: 0.9rem;">Générer les liens</button>
            </div>

          </form>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="dialogbox" [hidden]="!displayBox">
  <div class="backoverlay" (click)="onCancel()"></div>
  <div class="floatbox">
    <div class="bxtitle">{{ bxTitle }}</div>
    <div class="bxcontent"> {{ bxContent }} </div>
    <div class="bxbtn">
      <button class="btn btn-outline-primary" (click)="onCancel()">Annuler</button>
      <button class="btn btn-danger" (click)="onConfirm()">Oui</button>
    </div>
  </div>
</div>
