<div class="container">

  <div class="card">
    <div class="card-header">
      Information
    </div>
    <div class="card-body">
      <h5 class="card-title">En attente de validation</h5>
      <p class="card-text">Votre compte à bien été créé. <br>
        Un lien d'activation vous été envoyé à l'adresse indiquée.</p>
      <a href="" (click)="onActiveAccount()">Cliquez sur le lien suivant pour l'activation (temporaire)</a>
      <div style="text-align: right">
        <a href="#" (click)="onSendSignupMail()" class="btn btn-primary">Renvoyer la demande</a>
      </div>
      <!-- <div style="text-align: right"><a href="#" class="btn btn-primary">Informations sur mon compte</a></div> -->
    </div>
  </div>
</div>
