
#content{
  display: flex;
  height: 348px;
  padding-top: 20px;
  position: relative;
}

#content #content-side {
  min-width: 300px;
  border-right: 1px solid #e1e1e1;
  min-height: 448px;
  padding-right: 20px;
  overflow: auto;
}

/* Works on Chrome, Edge, and Safari */
#content #content-side::-webkit-scrollbar {
  width: 1px;
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

*::-webkit-scrollbar-track {
  background: #d9d9d9;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid #74cb61;
}

#content #content-primary {
  width: 100%;
  padding-left: 20px;
}

#content #content-primary .survey-title {
  font-variant-caps: small-caps;
  position: relative;
}

#content #content-primary .survey-title a.btn {
  position: absolute;
  right: 0;
}

.bloc-item {
  position: relative;
}

.bloc-item .item-line {
  width: 2px;
  height: 40px;
  position: relative;
  left: 24px;
  background: #e7e7e7;
}

.bloc-item .item-surround {
  width: 48px;
  height: 48px;
  border: 1px solid #e7e7e7;
  border-radius: 40px;
}

.bloc-item .item {
  width: 28px;
  height: 28px;
  line-height: 28px;
  margin: 9px;
  background: #e7e7e7;
  border-radius: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.bloc-item .item-text {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 58px;
  padding: 0;
  color: #f3f3f3;
}

.bloc-item .item-text p {
  padding: 0;
  margin: 0;
}

.active.bloc-item .item {
  background: #0d6efd;
}
.active.bloc-item .item-surround {
    border: 1px solid #0d6efd;
}
.active.bloc-item .item-line {
  background: #0d6efd;
}
.active.bloc-item .item-text {
    color: #212529;
}

#content-primary .survey-bloc {
  margin-bottom: 20px;
}

#content-primary .survey-card {

}

#content-primary .survey-text {
  background: #0082bb;
  margin: 0;
  padding: 0;
}

#content-primary .survey-text p {
  margin: 0;
  padding-left: 20px;
  line-height: 60px;
  color: white;
  /*font-weight: bold;*/
}

#content-primary .survey-suggestion {
  min-height: 120px;
  /* border: 1px solid #e5e5e5; */
}

#content-primary .survey-suggestion .form-check {
  margin: 10px 20px;
}

 #content-primary .survey-suggestion .remarque {
  border: 1px solid #e0e0e0;
  margin-top: 40px;
  padding: 10px;
  color: #585858;
}

#content-primary .btn-next, #content-primary .nav-btn {
  position: relative;
  height: 40px;
  margin-top: 20px;
}

#content-primary .btn-next, #content-primary .btn-preview{
  width: 140px;
  position: absolute;
  bottom: 0;
}

#content-primary .btn-next{
  right: 0;
}

.hide {
  display: none;
}
