<div id="content">
  <h3 class="field-title mb-3">Tableau de bord</h3>

  <div class="create-survey">
    <table>
      <tr>
        <td class="bloc-icon"><img src="assets/icon/list32.svg" alt=""></td>
        <td class="bloc-content">
          <h5 class="bloc-title">Survey Management</h5>
          <p>Resumé de toutes vos activités de survey. Ici vous avez la possibilité de gérer et de suvre l'évolution de vos surveys</p>
          <a href="#" class="btn btn-outline-primary resume-btn" routerLink="/survey/manager">
            <span class="indicator">{{ surveyList.length }}</span><span class="label">Survey{{this.surveyList.length>1?'s':''}} en Cours</span>
          </a>
        </td>
        <td class="bloc-execute">
          <a href="#" class="btn btn-primary" routerLink="/survey/manager">+ Creér un survey</a>
        </td>
      </tr>
  </table>
  </div>

  <div class="dashboard-item">
    <div class="bloc" style="width: 500px; min-height: 300px"></div>
    <div class="bloc"></div>
    <div class="bloc"></div>
  </div>

</div>
