
.field-title {
  text-decoration: underline;
  font-variant-caps: small-caps;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #939393;
  font-size: 1.3rem;
}

.chart-bloc {
  width: 540px;
  background: #ffffff;
  box-shadow: 0px 1px 4px #cec6c6;
  margin: 10px 0;
  padding: 10px;
  position: relative;
}

.surveys-charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.create-survey {
  font-size: 12px;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
}

.create-survey table{
  width: 100%;
}

.create-survey table td{
  /*border: 1px solid #939393;*/
}

.create-survey .bloc-content .bloc-title{
  color: #5c5c5c;
}

.create-survey .bloc-icon {
  width: 220px;
  max-height: 80px;
  text-align: center;
  vertical-align: center;
  border: 1px solid #e7e7e7;
  background: #fff;
  margin: 0;
  padding: 0;
}

.create-survey .bloc-icon #survey-chart {
  height: 120px !important;
  margin: 0;
  padding: 0;
}


.create-survey .bloc-icon img{
  width: 48px;
  height: 48px;
}

.create-survey .bloc-content{
  padding: 10px;
}

.create-survey .bloc-content .resume-btn {
  min-width: 160px;
  margin-right: 10px;
}

.create-survey .bloc-content .indicator {
  color: #fd7e14;
  margin-right: 10px;
}

.create-survey .bloc-content .label {

}


.create-survey .bloc-execute {
  width: 160px;
}

.create-survey .btn{
  font-size: 0.9rem;
}

.survey-items-charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chart-small-bloc {
  background: #ffffff;
  box-shadow: 0px 1px 4px #cec6c6;
  margin: 10px 0;
  padding: 10px;
}

.question-charts {
  width: 240px;
}

.survey-pick-date {
  width: 200px;
  height: 32px;
  position: absolute; top: 10px; right: 10px;
}
