
<div class="content">

  <div class="content-side">
    <div class="question-item">Question 1</div>
    <div class="question-item">Question 1</div>
    <div class="question-item">Question 1</div>
    <div class="question-item">Question 1</div>
    <div class="question-item">Question 1</div>
    <div class="question-item">Question 1</div>
    <div class="question-item">Question 1</div>
  </div>

  <div class="content-primary">

    <h2 class="field-title">Type de champs</h2>

    <div class="radio-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            <span class="field-radiobox"></span>Case à sélection unique
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          <span class="field-checkbox"></span>Case à sélection multiple
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
        <label class="form-check-label" for="flexRadioDefault3">
          <span class="field-text"></span>Champs d'entrer de texte
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
        <label class="form-check-label" for="flexRadioDefault4">
          <span class="field-text field-select"></span>Champs de selection
        </label>
      </div>
    </div>

    <div class="fields-group">

    </div>

  </div>

</div>
